// app global css in SCSS form
body {
  background: $content-bg;
  color: #fff;
}

* {
  line-height: 1em;
}

.q-btn {
  font-weight: 400;
}

a, a:link, a:visited, a:hover, a:active, a:focus {
  text-decoration: none;
  color: inherit;
}

.mt10{
  margin-top: 10px;
}
.mt20{
  margin-top: 20px;
}