// app global css in SCSS form
body {
  background: $content-bg;
  color: #fff;
}

* {
  line-height: 1em;
}

.q-btn {
  font-weight: 400;
}

a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: inherit;
}

.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}

.number-icon {
  &::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 14px;
    margin-right: 8px;
    vertical-align: middle;
  }
}

.one-icon {
  &::before {
    @extend .number-icon;
    background: url(~assets/images/one-icon.png);
    background-size: 100% 100%;
  }
}
.two-icon {
  &::before {
    @extend .number-icon;
    background: url(~assets/images/two-icon.png);
    background-size: 100% 100%;
  }
}
.three-icon {
  &::before {
    @extend .number-icon;
    background: url(~assets/images/three-icon.png);
    background-size: 100% 100%;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.dialog-card {
  width: 90%;
  min-width: 335px;
  max-width: 500px !important;
  height: 320px;
}
.screen--xs {
  .dialog-card {
    min-width: 335px;
    height: 240px;
  }
}
